.header {
	position: fixed;
	height: 40px;
	width: 100%;
	background-color: #41ed49;/* #c0ffc3; */
	z-index: 1000;
}

.logo {
	width: 200px;
	display: inline-block;
	float: left;
	clear: left;
	position: absolute;
	top: 10px;
}

.otherContent {
	display: inline-block;
	float: right;
	margin-right: 20px;
	position: relative;
	top: 10px;
	color: white;
	font-weight: bold;
}

.signin {
	width: 100px;
	display: inline-block;
	text-align: right;
}

.signup {
	width: 100px;
	display: inline-block;
	text-align: right;
}